<link rel="stylesheet" href="{{ getAssetUrl('plugins/MauticCitrixBundle/Assets/css/citrix.css', null, null, true) }}"
      type="text/css"/>
<a class="citrix-start-button" href="{{ productLink ?? '#' }}" target="_blank">
    {{ productText ?? 'Start GoTo'.ucfirst(product) }}
</a>
<div style="clear:both"></div>
